
input[type=text] {
  outline: none;
  border-color: gainsboro;
}

  input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 2px 0 dodgerblue;
  }

.dropdown select {
  background: white;
}

.dropfield {
  height: 31px;
  border-color: lightgray;
  width: 191px;
  /*margin-left: 58px;*/
  border-radius: 3px;
  margin-bottom: 14px;
  margin-top: 19px;
}
