<div style="width:359px;margin-top:12px;border:1px solid gainsboro" [class.open]="isOpen" id="mySidenav" class="sidenav" data-bs-scroll="true" tabindex="-1" aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-backdrop="false">
  <div class="offcanvas-header" style="border-bottom:2px solid gainsboro;">
    <h5 style="font-weight: 500; color: #44546F; font-size: 21px; padding-bottom: 26px; padding-left: 24px;margin-top:20px" class="offcanvas-title" id="offcanvasWithBothOptionsLabel">What are team-managed software projects?</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-right: 18px; margin-top: -30px;font-size:19px;" (click)="closeNav()"></button>
  </div>
  <div class="offcanvas-body">
    <div style="margin-top:20px;margin-bottom:22px;">
      <p style="margin-bottom:137px;">
        Team-managed projects are perfect for teams that want to quickly jump in and get
        started without messing with complicated settings. They’re great for teams that don’t
        need the centralized control and advanced features of our company-managed projects.
        Learn about the differences between team-managed and company-managed projects.
        </p>
       <ul style="margin-bottom:388px;">
        Jira Software Cloud projects cater to two agile working styles:
       
       <li style="margin-bottom:60px;">
        Kanban, a style that focuses on constraining the amount of work currently in flight.
         Learn more about practicing Kanban
        </li>
       <li style="margin-bottom:86px">
        Scrum, a style that focuses on predicting and executing on short bursts of effort called
         sprints, usually what the team thinks they can accomplish in two weeks.
         Learn more about practicing Scrum
       </li>
       <li style="margin-bottom:96px">
        In team-managed projects, you can easily experiment with and switch between
        working styles without consequence. All you need to do is turn on or off different
        agile features in your project’s settings. Learn more about enabling agile features.
       </li>
         </ul>
       <ol style="margin-bottom:8px">
         <p style="font-size:14px;font-weight:500">For example:  </p>      
       <li style="margin-bottom:110px">
        If you enable the Backlog feature, you can move future work from your project’s board to
        a dedicated planning space. This keeps your board focused on the work that currently
        needs to be done. Learn more about the backlog feature.
       </li>
       <li style="margin-bottom:50px">
        If you enable the Sprints feature, you’re making a choice to work in the Scrum style. Your project’s board shows the work in your team’s active sprint, or the sprint your team is currently working through. Everything else is safely tucked away in your backlog. Learn more about the sprints feature.
       </li>
         </ol>
    </div>
  </div>
</div>

