<app-layout></app-layout>
<div style="margin-top:85px; margin-left:1038px;"><button class="cancelbutton">Create Issue</button></div>
<div style=" color:#344563">
  <input #searchInput type="search" placeholder="Search Issue" style="background-image: url('assets/search.svg'); background-repeat: no-repeat; background-position: 10px center; border: 2px solid gainsboro; border-color: gainsboro; font-size: 15px; color: #344563; border-radius: 2px; margin-left: 141px; width: 207px; height: 37px; margin-top: -18px;padding-left:36px;" />
</div>
<div class="container" style="margin-left:71px;width:1438px;">
   <div class="" style="background-color: #F8F8F8; padding-bottom: 33px; margin-top: 24px;">
    <div style="display:flex;align-items:center;">
      <span style="margin-right: 975px;
    margin-bottom: 9px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: grey;
    margin-top: 9px;">Issues</span>
      <span style="margin-left: -43px; margin-right: 25px; font-size: 20px; color: gray;font-weight:500">Status</span>    
    </div>
    <div class="col" style="width: 1288px;margin-left: 4px;padding-top:3px;">
      <div class="card" style="height: 49px; margin-bottom: 3px;border-color:white;">
        <div class="card-body" style="display: flex;align-items:center;justify-content:space-between">
          <div style="display:flex;align-items:center;">
            <img src="assets/User_story.svg" style="margin-right:6px;">
            <img src="assets/highestP.svg" style="width: 20px; margin-left: 6px;margin-right:8px;">
            <label style="margin-right: 19px; margin-left: 2px; color: #0052CC">TS-1</label>
            <span style="">Details about the cards</span>
          </div>
          <div style="display:flex;align-items:center;">
            <span style="font-size: 12px; font-weight: 500;background-color: lightgreen; color: darkgreen; width: 47px; border-radius: 2px;text-align:center;margin-right:390px;">Done</span>
            <span>Bella,Cutie</span>
            <span class="" style="margin-left: 10px; margin-right: 12px; background-color: gainsboro; border-radius: 180px; text-align: center; padding: 1px 6px 1px 6px;"> 5</span>
            <label><i style='color:#344563;font-size:24px;margin-top:-2px;' class='fa'>&#xf2bd;</i></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






