<app-layout></app-layout>
<app-side-bar></app-side-bar>
<fieldset class="fieldset1">
  <!-- Add a legend for the fieldset -->
  <div style="border-bottom: 2px solid gainsboro;margin-top:10px;font-size:20px;margin-bottom:25px;">
    <span class="headingNa">Details</span>
  </div>
  <div class="headingNa">
    <span>Assignee</span>
    <div class="headingNam">
      <label>None</label>
    </div>
  </div>
  <div class="headingNa">
    <span>level</span>
    <div class="headingNam"><label>None</label></div>
  </div>
  <div class="headingNa">
    <span>Sprint</span>
    <div class="headingNam"><label>None</label></div>
  </div>
  <div class="headingNa">
    <span>Story point</span>
    <div class="headingNam"><label>None</label></div>
  </div>
  <div class="headingNa">
    <span>Relese</span>
    <div class="headingNam"><label>None</label></div>
  </div>
  <div class="headingNa">
    <span>Repoter</span>
    <div class="headingNam"><label>None</label></div>
    <!-- Additional form elements related to project name -->
  </div>
</fieldset>
<div class="centered-fieldset">
  <div style="margin-top: -500px; margin-right: 200px;width:717px;height:700px;">
    <div style="border-bottom:2px solid gainsboro;margin-bottom:30px;">
      <h1 style="color: #42526e;margin-top:20px;">Project Name</h1>
    </div>
    <div class="headingNa">
      <span>Priority</span>
    </div>
    <div><select class="dropfield" style="border: 1px solid gainsboro; margin-left: 20px;"><option>1</option></select></div>
    <div class="headingNa">
      <span>Status</span>
    </div>
    <div><select class="dropfield" style="border: 1px solid gainsboro; margin-left: 20px;"><option>1</option></select></div>
    <div class="headingNa">
      <span>Summary</span>
    </div>
    <div><input type="text" style="border: 1px solid gainsboro; margin-bottom: 15px; height: 35px; margin-left: 22px; width: 524px; border-radius: 3px;" /></div>
    <div class="headingNa">
      <span>Description</span>
    </div>
    <div><input type="text" style="border:1px solid gainsboro; margin-left:15px; width: 526px; border-radius:3px; height: 164px; margin-top:7px; " /></div>
    <div class="headingNa">
      <span>Attachment</span>
    </div>
    <div class="headingNa">
      <span>Comment</span>
    </div>
    <div><input type="text" style="border: 1px solid gainsboro; margin-left: 15px; width: 526px; border-radius: 3px; height: 54px; margin-top: 7px; " /></div>
  </div>
</div>






