<div>
  <div>
    
      <h1 mat-dialog-title style="color: #172B4D">Create Team</h1>
    
  </div>
 
 
  <mat-dialog-content>
    <div style="display:flex;">
      <img src="assets/teamJira.svg" />
      <div>
        <div style="font-size: 15px; margin-left: 120px; color: #091E42;">
          <span>Bring everyone together with one team you can mention, filter, and assign work to.</span>
        </div>
        <div style="margin-left: 120px; margin-top: 25px;">
          <div class="team">
            <span>Team name*</span>
          </div>
          <div>
            <input class="searchinput" type="text" />
          </div>
        </div>
        <div style="font-size: 13px;margin-left: 120px;">
          <span >Who can see your team name?</span>
        </div>
        <div style="margin-left: 120px; margin-top: 20px;">
          <div class="team">
            <span> Invite people to your team*</span>
          </div>
          <div>
            <input type="text" />
          </div>
        </div>
        <div style="font-size: 13px; margin-left:120px;">
          You can invite up to 50 people at once.
        </div>
      </div>
      </div>
  </mat-dialog-content>
  </div>
  <div>
    <mat-dialog-actions style="display: flex; justify-content: flex-end; margin-right: 55px; margin-top: 34px;">
      <div>
        <button style="background-color: white; border: white; color: #172B4D; font-size: 16px; font-weight: 500;">Cancel</button>
      </div>
      <div>
        <button class="cancelbutton">Create a team</button>
      </div>
    </mat-dialog-actions>
  </div>


