<div>
  <div>
    <h1 mat-dialog-title style="color:#172B4D">Share your thoughts</h1>
  </div>
  <mat-dialog-content>
    <div>
      <div>
        <div style="font-size: 15px; margin-left: 20px; color: #091E42;margin-top:-17px;">
          <span style="color: gray;">Required fields are marked with an asterisk*</span>
        </div>
        <div style=" margin-top: 13px;margin-left:20px">
          <div class="team">
            <span>Write feedback*</span>
          </div>
          <div>
            <input class="searchinput" type="text" />
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
<div>
  <mat-dialog-actions style="display: flex; justify-content: flex-end; margin-right: 55px; margin-top: 3px;">
    <div>
      <button style="background-color: white; border: white; color: #172B4D; font-size: 16px; font-weight: 500;">Cancel</button>
    </div>
    <div>
      <button class="cancelbutton">Send Feedback</button>
    </div>
  </mat-dialog-actions>
</div>


