<div style="width:295px;border:1px solid gainsboro" [class.open]="isOpen" id="mySidenav" class="sidenav" data-bs-scroll="true" tabindex="-1" aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-backdrop="false">
  <div style="border-bottom:2px solid gainsboro;margin-top:7px">
    <div style="display:flex">
      <h5 style="font-weight: 500; font-size: 20px;color: #44546F;margin-left:23px;margin-top:17px;margin-bottom:25px;" class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Account</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-left: 135px; margin-top: 14px;" (click)="closeNav()"></button>
    </div>
    <div style="display:flex">

      <i style='font-size: 31px; margin-left: 25px; color:#344563;margin-right:5px;margin-top:5px' class='fa'>&#xf2bd;</i>
      <div style="margin-left:14px;">
      <div>
        <span>Bella Cutie</span>
        </div><div>
  <span style="color: darkgrey;">bellacutieagmail.com</span>
</div>
      </div>
    </div>
    <div style="">
      <p style="margin-top: 6px; margin-bottom: 27px;">Manage Account</p>
    </div>
  </div>
  <div class="offcanvas-body">   
    <div style="margin-bottom:20px;">
      <p>Profile</p>
    </div>
    <div style="margin-bottom:22px;">
      <p>Setting</p>
    </div>
    <div style="margin-bottom:22px;">
      <p>Personal Information</p>
    </div>
    <div style="border-top: 2px solid gainsboro">
      <div style="margin-bottom:30px;">
        <p>Logout</p>
      </div>
    </div>
    <!--<div style="margin-bottom:12px;margin-top:16px">
      <p>Give feedback</p>
    </div>
    <div style="font-size: 12px; font-weight: 500;">
      <p>Learn More</p>
    </div>-->
  </div>
  <div>
  </div>
</div>

