.cancelbutton {
  color: white;
  border: blue;
  border-radius: 4px;
  height: 35px;
  width: 110px;
  background-color: #0052CC;
  color:white;
  border-radius:4px;
  margin-left:248px;
}
th {
  color: gray;
}

.story {
  display: inline-block;
  width: 28px;
  height: 19px;
  color: white;
  background-color: darkgray;
  border-radius: 18px;
  text-align: center;
  line-height: 19px;
  margin-left: 10px;
  font-size: 14px;
}
