<app-layout></app-layout>
<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Containers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body class="container">
  <table class="table" style="margin-top:103px;">
    <tbody>
      <tr style="display:flex;justify-content:center;gap:5px;">
        <td style="display: flex; flex-direction: column; height: 100vh; border: 1px solid white; gap: 2px; background-color: #F8F8F8; padding: 0px ">
          <div style="font-weight: 700; margin-left: 81px; color: grey; margin-top: 20px;">TO DO </div>
          <div class="card" style="margin-top:42px;width:100%;">
            <div class="card-header" style="background-color: white; border-bottom: white; font-weight: 500; color: dimgrey; ">TS-1</div>
            <div class="card-body">
              <div style="font-size: 15px; font-weight: 400;margin-top: -11px;">Details about the JIRA project</div>
              <div style="font-size: 12px; font-weight: 500;margin-top: 17px; background-color: Orange; color: black; padding: 2px; width: 118px; border-radius: 2px;">JIRA popup ceating</div>
            </div>
            <div class="card-footer" style="background-color:white; border-top: white;">
              <div>
                <img src="assets/User_story.svg">
                <img src="assets/highestP.svg" style="width: 20px;margin-left: 9px;">
                <span class="story"> 5</span>
                <span style="font-size: 12px; font-weight: 500;margin-left: 103px; margin-top: 17px; background-color: lightslategray; color: white; padding: 2px; width: 118px; border-radius: 2px;">To Do</span>
              </div>
            </div>
          </div>
          <div class="card" style="width:263px;">
            <div class="card-header" style="background-color:white; border-bottom: white; font-weight: 500; color: dimgrey; ">TS-1</div>
            <div class="card-body">
              <div style="font-size: 15px; font-weight: 400;margin-top: -11px;">Details about the JIRA project</div>
              <div style="font-size: 12px; font-weight: 500;margin-top: 17px; background-color: Orange; color: black; padding: 2px; width: 118px; border-radius: 2px;">JIRA popup ceating</div>
            </div>
            <div class="card-footer" style="background-color:white; border-top: white;">
              <div>
                <img src="assets/User_story.svg">
                <img src="assets/highestP.svg" style="width: 20px;margin-left: 9px;">
                <span class="story"> 5</span>
                <span style="font-size: 12px; font-weight: 500; margin-left:103px; margin-top: 17px; background-color: lightslategray; color: white; padding: 2px; width: 118px; border-radius: 2px;">To Do</span>
              </div>
            </div>
          </div>
        </td>

        <td style="padding-right: 10px; background-color: #F8F8F8; padding: 0px ">
          <div style="font-weight: 700; margin-left: 66px; color: grey;margin-top:20px;">IN PROGRESS</div>
          <div class="card" style="margin-top: 45px; width: 263px; margin-bottom: 32px">
            <div class="card-header" style="background-color: white; border-bottom: white; font-weight: 500; color: dimgrey; ">TS-1</div>
            <div class="card-body">
              <div style="font-size: 15px; font-weight: 400; margin-top: -11px;">Details about the JIRA project</div>
              <div style="font-size: 12px; font-weight: 500; margin-top: 17px; background-color: Orange; color: black; padding: 2px; width: 118px; border-radius: 2px;">JIRA popup ceating</div>
            </div>
            <div class="card-footer" style="background-color: white; border-top: white;">
              <div>
                <img src="assets/User_story.svg">
                <img src="assets/highestP.svg" style="width: 20px; margin-left: 9px;">
                <span class="story"> 5</span>
                <span style="font-size: 12px; font-weight: 500; margin-left: 78px; margin-top: 17px; background-color: #0052CC; color: white; padding: 2px; width: 118px; border-radius: 2px; ">In progress</span>
              </div>
            </div>
          </div>
        </td>
        <td style="background-color: #F8F8F8; padding: 0px ">
          <div style="font-weight: 700; margin-left: 66px; color: grey; margin-top: 20px;">IN PROGRESS</div>
          <div class="card" style="margin-top: 45px; width: 263px; margin-bottom: 32px">
            <div class="card-header" style="background-color: white; border-bottom: white; font-weight: 500; color: dimgrey; ">TS-1</div>
            <div class="card-body">
              <div style="font-size: 15px; font-weight: 400; margin-top: -11px;">Details about the JIRA project</div>
              <div style="font-size: 12px; font-weight: 500; margin-top: 17px; background-color: Orange; color: black; padding: 2px; width: 118px; border-radius: 2px;">JIRA popup ceating</div>
            </div>
            <div class="card-footer" style="background-color: white; border-top: white;">
              <div>
                <img src="assets/User_story.svg">
                <img src="assets/highestP.svg" style="width: 20px; margin-left: 9px;">
                <span class="story"> 5</span>
                <span style="font-size: 12px; font-weight: 500; margin-left: 78px; margin-top: 17px; background-color: #0052CC; color: white; padding: 2px; width: 118px; border-radius: 2px;">In progress</span>
              </div>
            </div>
          </div>
        </td>
        <td style="background-color: #F8F8F8; padding: 0px ">
          <div style="font-weight: 700; margin-left: 81px; color: grey; margin-top: 20px;">DONE</div>
          <div class="card" style="margin-top: 45px; width: 263px; margin-bottom: 32px">
            <div class="card-header" style="background-color: white; border-bottom:white; font-weight: 500; color: dimgrey; ">TS-1</div>
            <div class="card-body">
              <div style="font-size: 15px; font-weight: 400; margin-top: -11px;">Details about the JIRA project</div>
              <div style="font-size: 12px; font-weight: 500; margin-top: 17px; background-color: Orange; color: black; padding: 2px; width: 118px; border-radius: 2px;">Jira project Ttitle</div>
            </div>
            <div class="card-footer" style="background-color: white; border-top: white;">
              <div>
                <img src="assets/User_story.svg">
                <img src="assets/highestP.svg" style="width: 20px; margin-left: 9px;">
                <span class="story"> 5</span>
                <span style="font-size: 12px; font-weight: 500; margin-left: 103px; margin-top: 17px; background-color: lightgreen; color: darkgreen; padding: 2px; width: 118px; border-radius: 2px;">Done</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>




