<app-layout></app-layout>
<a>a</a>
<p>a</p>
<div class="container" >
  <div style="display:flex;justify-items:center">
  <div style="">
    <div style="font-size: 45px; margin-top: 131px;margin-bottom:28px; font-weight: 500; color: #344563;">The #1 software</div>
    <div style="font-size: 45px;  font-weight: 500; color: #344563;margin-bottom:28px; ">development tool</div>
    <div style="font-size: 45px; font-weight: 500; color: #344563;"> used by agile teams</div>
    <button class="cancelbutton" [routerLink]="['/login']">Try it free</button>
  </div>
  <div>
    <img src="assets/jirahomepage.jpg" style="height: 500px; padding-left: 114px; padding-top: 60px;" />
  </div>
</div>
  </div>

