<div style="width:295px;border:1px solid gainsboro" [class.open]="isOpen" id="mySidenav" class="sidenav" data-bs-scroll="true" tabindex="-1" aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-backdrop="false">
  <div>
    <div style="display: flex; background-color: gainsboro; height: 58px; margin-bottom: 30px; ">
      <h5 style="font-weight: 500; font-size: 20px;color: #44546F;margin-left:97px;margin-top:17px;margin-bottom:44px;" class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Help</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-left: 105px; margin-top: 14px;" (click)="closeNav()"></button>
    </div>
  </div>
  <div class="offcanvas-body">
    <div style="margin-bottom:7px;">
      <p style="display:flex;gap:3px;">
        Find out what’s changed in Jira
        <!-- Image -->
        <img src="assets/box-arrow-up-right.svg" alt="Your Image Description" style="width:24px; height:20px; padding-left:10px;">
      </p>
    </div>
    <div style="margin-bottom:12px;">
      <p style="display:flex;gap:3px;">
        Browse complete documentation
        <img src="assets/box-arrow-up-right.svg" alt="Your Image Description" style="width:24px;height:20px; padding-left: 10px;">
      </p>
    </div>
    <div style="margin-bottom:7px;">
      <p style="display:flex;gap:3px;">
        Learn with Atlassian University
        <img src="assets/box-arrow-up-right.svg" alt="Your Image Description" style="width:24px; height:20px; padding-left: 10px;">
      </p>
    </div>
    <div style="margin-bottom:12px;">
      <p style="display:flex;gap:3px;">
        Ask our community forum
        <img src="assets/box-arrow-up-right.svg" alt="Your Image Description" style="width:24px; height:20px; padding-left: 10px;">
      </p>
    </div>
    <div style="margin-bottom:7px;">
      <p>
        Give feedback about Jira
        <img src="assets/box-arrow-up-right.svg" alt="Your Image Description" style="width:24px; height:20px; padding-left: 10px;">
      </p>
    </div>
  </div>
</div>
  <div>
  </div>


