offcanvas {
  --bs-offcanvas-zindex: 1045;
  width: 225px;
  --bs-offcanvas-height: 26vh;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
}

/*.sideHead{
    margin-bottom:-20px;
}*/

p {
  background-color: transparent; /* Set default background color */
  border: 1px solid transparent; /* Set default border */
  border-radius: 5px; /* Border radius */
  padding: 5px 10px; /* Padding */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); /* Box shadow */
  cursor: pointer;
  height: 35px;
  color: #44546f;
}

  p:hover {
    background-color: gainsboro; /* Background color on hover */
    /*border-color: #ccc; */ /* Border color on hover */
  }
.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

    .sidenav a:hover {
      color: #f1f1f1;
    }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

    .sidenav a {
      font-size: 18px;
    }
}

.open {
  display: block;
}
