<div>
  <div style="border-bottom:1px solid gainsboro;">
    <h1 mat-dialog-title style="color: #172B4D">Add People</h1>
  </div>
  <mat-dialog-content>   
        <div style="margin-left: 6px; margin-top: -4px;">
          <div class="team">
            <span>Names or emails</span>
          </div>
          <div>
            <input class="searchinput" type="text" />
          </div>
        </div>      
  </mat-dialog-content>
</div>
<div>

  <mat-dialog-actions style="display: flex; justify-content: flex-end; margin-right: 43px; margin-top: 23px;">
    <div>
      <button style="background-color: white; border: white; color: #172B4D; font-size: 16px; font-weight: 500;">Cancel</button>
    </div>
    <div>
      <button class="cancelbutton">Add</button>
    </div>
  </mat-dialog-actions>
</div>


