<div style="width:295px;border:1px solid gainsboro" [class.open]="isOpen" id="mySidenav" class="sidenav" data-bs-scroll="true" tabindex="-1" aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-backdrop="false">
  <div style="margin-top:7px">
    <div style="display:flex">
      <h5 style="font-weight: 500; font-size: 20px;color: #44546F;margin-left:23px;margin-top:17px;margin-bottom:44px;" class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Setting</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-left: 155px; margin-top: 14px;" (click)="closeNav()"></button>
    </div>
    <div>
      <div style="margin-bottom: 12px;">
        <span style="margin-top: 2px; margin-bottom: 27px; font-weight: 700; font-size: 14px; color: #44546F; margin-left: 22px; font-family: monospace;">PERSONAL SETTING</span>
      </div>
    </div>
  </div>
  <div class="offcanvas-body">
    <div style="margin-bottom:7px;">
      <p>Jira Account Setting</p>
    </div>
    <div style="margin-bottom:22px;">
      <p>Personal Jira Setting</p>
    </div>
   
    <div style="">
      <div style="margin-bottom: 12px;">
        <span style="margin-top: 2px; margin-bottom: 27px; font-weight: 700; font-size: 14px; color: #44546F; margin-left: 22px; font-family: monospace;">JIRA SETTING</span>
      </div>
      <div style="margin-bottom:7px;">
        <p>Project</p>
      </div>
      <div style="margin-bottom:22px;">
        <p>Issue</p>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>

